<div class="container row">
    <div class="col-md-4">
        <form #myForm="ngForm" onsubmit="event.preventDefault();">

            <h4>Exercise-1</h4>
            <h2>Customer form</h2>
            <hr>

            <label>Customer Name:</label><br>
            <input id="inputFieldName" type="text" class="form form-control formControl" placeholder="customer name here" [(ngModel)]="customerName" name="first" required><br>
            
            <label>Customer Email:</label><br>
            <input id="inputFieldEmail" type="email" pattern="[A-Za-z0-9]+[^ @]*@[^ @]*\.[A-Za-z0-9]+" class="form form-control formControl" (mouseout)="checkEmail()" placeholder="example@gmail.com" [(ngModel)]="customerEmail" name="second" required><br><br>
            <p *ngIf="emailExist" class="allInputReq ">Email already exist !</p>

            <app-customer-address (customerAddress)="getAddress($event)" [customerAddressChild]="customerAddress" > </app-customer-address>
            <p *ngIf="addressMissing" class="allInputReq">Please enter address !</p>
            
            <div class="input-group mb-3">
                <div id="inputFieldStatus">
                <label>Status:</label>
                <input id="Active" type="radio" value="Active" name="status" class="radioBtn" required="required">Active
                <input id="Inactive" type="radio" value="Inactive" name="status" class="radioBtn" >Inactive
                </div>

            </div><br>
            <p *ngIf="inputMissing" class="allInputReq">Please select status !</p>

            <button id="submitBtn" class="btn btn-primary"  (click)="onSubmit()" [disabled]="!myForm.form.valid || customerName.trim()=='' || customerAddress.trim()==''">Submit</button>
            <br><br>
            <!-- Extra -->
            <!-- <ul>
                <li *ngFor="let cs of customerList">{{ cs.id }} {{ cs.name }} {{ cs.email }} {{ cs.address }} {{ cs.status }}</li>
            </ul> -->
            <!-- Extra -->
        </form><br><br>

        <button class="btn btn-info" (click)="showTable=!showTable">Show table</button>
        <hr>

    </div>
<div class="col-md-8">
        
        <app-customer-table *ngIf="showTable" 
        [isSubmittedChild]="isSubmitted" [customerListChild]="customerList" 
        [customerDetailArray]="customerList" [customerNameChild]="customerName" 
        (nameOfObjectToBeEdit)="getEditobj($event)">
        <h2>Customer List</h2>
        </app-customer-table>
    </div>
</div><br>


<app-task3></app-task3>