.allInputReq {
    color: red;
}

.formControl {
    width: 350px;
}

.radioBtn {
    margin-left: 15px;
}

.editBtn{
    margin-left: 25px;
    display: none;
}
/* .tableDataColumn{
    margin-left: 2%;
} */