.badge-success {
    background-color: #356635;
    cursor: pointer;
    margin-left: 20px;
}

.badge-danger {
    background-color: red;
    cursor: pointer;
    margin-left: 20px;
}

.badge-info {
    background-color: silver;
    cursor: pointer;
}

.tableHeader {
    cursor: pointer;
    width: 150px;
}
.addressHeader{
    width: 150px;
}
.emptyTableLine {
    margin-left: 150px;
    /* size: ; */
}

.box{
    max-width: 300px !important;
    inline-size: 28px !important; 
    /* overflow-wrap: break-word !important;  use this if you want to show full address but in multiple lines */
    overflow: hidden;
}
.field-br {
    word-break: break-all; 
  }