.badge-success {
    background-color: #356635;
    cursor: pointer;
    margin-left: 20px;
}

.badge-danger {
    background-color: red;
    cursor: pointer;
    margin-left: 20px;
}

.badge-info {
    background-color: silver;
    cursor: pointer;
}

.tableHeader {
    cursor: pointer;
}

.emptyTableLine {
    margin-left: 200px;
}