<p>customer-table works!</p>
<div>
        <!-- <ng-content></ng-content> -->
  <span class="badge badge-success" style="cursor: pointer;" (click)="justActive()">Active</span>
  <span class="badge badge-danger" style="margin-left: 20px; cursor: pointer;" (click)="justInactive()">Inactive</span><br><br>
<table class="storeTable table" id="myTable">
  <thead>    
    <tr>
            <th style="border: 2px solid;"><b style="cursor: pointer;" (click)="ascendingTableName()">Name</b></th>
            <th style="border: 2px solid;"><b>Email</b></th>
            <th style="border: 2px solid;"><b>Address</b></th>
            <th style="border: 2px solid;"><b>Status</b></th>
            <th style="border: 2px solid;"><b>Edit details</b></th>
        </tr>
    </thead>
  
  <tbody>
  <h3 *ngIf="isSubmitted2">No customers found</h3>
  <tr *ngFor="let el of customerList2" >
    <td>{{ el.name }}</td>
    <td>{{ el.email }}</td>
    <td>{{ el.address }}</td>
    <td>
        <span class="badge badge-danger" *ngIf="el.status=='Inactive'">{{ el.status }}</span>
        <span class="badge badge-success" *ngIf="el.status=='Active'">{{ el.status }}</span>
    </td>
    <td><button class="btn btn-danger" (click)="onEdit(this)">Edit</button></td>
  </tr> 
  </tbody>
</table>
</div>