<p>customer-table works!</p>
<div>
    <table class="storeTable table" >
        <!-- <thead>    
        <tr>
                <th style="border: 2px solid;"><b>Name</b></th>
                <th style="border: 2px solid;"><b>Email</b></th>
                <th style="border: 2px solid;"><b>Address</b></th>
                <th style="border: 2px solid;"><b>Status</b></th>
                <th style="border: 2px solid;"><b>Edit details</b></th>
            </tr>
        </thead>
        <tbody> -->
            <!-- <div>No customer found</div> -->
        <ng-content></ng-content>
        <!-- </tbody> -->
    </table>
</div>