.badge-success {
    background-color: #356635;
    cursor: pointer;
    margin-left: 20px;
}

.badge-danger {
    background-color: red;
    cursor: pointer;
    margin-left: 20px;
}

.badge-info {
    background-color: silver;
    cursor: pointer;
}

.tableHeader {
    cursor: pointer;
    width: 250px;
}
/* .addressHeader{
    width: 140px;
} */
.emptyTableLine {
    margin-left: 250px;
    width: max-content;
    font-size: larger;
    position: absolute;
    /* margin: auto; */
}

.box{
    /* inline-size: 28px !important;
    width: 28px;
    text-overflow: ellipsis !important;
    overflow: hidden; */
    overflow: hidden !important;
    max-width: 180px !important; /* tweak me please */
    text-overflow: ellipsis;
    white-space : nowrap;
    /* overflow-wrap: break-word;  */
    /* max-width: 60px !important; */
    /* overflow-y: auto; */
    /* use this if you want to show full address but in multiple lines */
    /* display: inline; */
    /* white-space : nowrap; */
    /* position: relative; */
  /* display: block; */
    
    
    
}
.displayFullAddress{
    /* overflow-wrap: break-word !important; 
    max-width: 30px; /* tweak me please */
    /* cursor: pointer;
    display: inline;
    inline-size: 28px;
    text-overflow: unset;
    width:50px !important;
    overflow-y: auto;  */
    white-space: unset;
    max-width: 200px !important;
    display: block;
    height: auto ;
    text-overflow: unset;
    inline-size: 200px !important;
    overflow-wrap: break-word !important;
}
.field-br {
    word-break: break-all; 
  }
th{
    width: 180px;
}