
<div class="container">
    <form #myForm="ngForm" onsubmit="event.preventDefault();onFormSubmit();"><!--autocomplete="off"-->
    <h4>Exercise-1</h4>
    <h2>Customer form</h2><hr>
    <label>Customer Name:</label><br>
    <input id="inputFieldName" type="text" class="form form-control" style="width: 400px;" placeholder="customer name here" [(ngModel)]="customerName" name="first" required><br>
    <label>Customer Email:</label><br>
    <input id="inputFieldEmail" type="email" pattern="[^ @]*@[^ @]*\.com"  class="form form-control" style="width: 400px;" placeholder="example@gmail.com" [(ngModel)]="customerEmail" name="second" required><br><br>
    <app-customer-address (customerAddress)="getAddress($event)" [customerAddressChild]="customerAddress" [isSubmittedInaddress]="isSubmitted" >
      <!-- <label>Customer Address:</label><br>
    <textarea class="form form-control" style="width: 400px;" name="third"
    placeholder="customer address here" [(ngModel)]="customerAddress" required></textarea><br><br> -->
    </app-customer-address>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Status:</label>
        </div>
        <select class="custom-select" id="inputFieldStatus" (change)="onStatusSelected(status.value)" #status required>
          <option selected value="Inactive">Inactive</option>
          <option value="Active">Active</option>
        </select>
      </div><br>
    <p *ngIf="inputMissing" class="allInputReq">Please fill in all input fields above !</p>

    <button class="btn btn-primary" (click)="onSubmit();customerName='';customerEmail='';customerAddress=''" [disabled]="!myForm.form.valid || customerAddress==''">Submit</button>
    <!-- Extra -->
    <ul >
      <li *ngFor="let cs of customerList"> {{ cs.name }}  {{ cs.email }}  {{ cs.address }}  {{ cs.status }}</li>
    </ul>
    <!-- Extra -->
</form>
</div><br>
<button class="btn btn-info" (click)="tableDisplay()">Show table</button>
<hr>
<!-- <p *antiIf="showTable">Hello there</p> -->
<app-customer-table  *ngIf="showTable" [isSubmittedChild]="isSubmitted" [customerListChild]="customerList" [customerDetailArray]="customerList" [customerNameChild]="customerName"
(customerName2)="getEditedName($event)" (customerEmail2)="getEditedEmail($event)" (customerAddress2)="getEditedAddress($event)">

 
</app-customer-table>
<app-task3></app-task3>