<div class="container row">
    <div class="col-md-4">
        <form #myForm="ngForm" onsubmit="event.preventDefault();onFormSubmit();">

            <h4>Exercise-1</h4>
            <h2>Customer form</h2>
            <hr>
            <label>Customer Name:</label><br>
            <input id="inputFieldName" pattern="[A-Za-z0-9]+" type="text" class="form form-control formControl" placeholder="customer name here" [(ngModel)]="customerName" name="first" required><br>
            <label>Customer Email:</label><br>
            <input id="inputFieldEmail" type="email" pattern="[A-Za-z0-9]+[^ @]*@[^ @]*\.[A-Za-z0-9]+" class="form form-control formControl" placeholder="example@gmail.com" [(ngModel)]="customerEmail" name="second" required><br><br>
            <app-customer-address (customerAddress)="getAddress($event)" [customerAddressChild]="customerAddress" [isSubmittedInaddress]="isSubmitted">
                <!-- the address field component will be here  -->
            </app-customer-address>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Status:</label>
                </div>
                <select class="custom-select" id="inputFieldStatus" (change)="onStatusSelected(status.value)" #status required>
          <option selected value="Inactive">Inactive</option>
          <option value="Active">Active</option>
        </select>
                <!-- <div id="inputFieldStatus" (change)="onStatusSelected(status.value)" #status>
                <input type="radio" value="Active" name="status" class="radioBtn">Active
                <input type="radio" value="Inactive" name="status" class="radioBtn">Inactive
            </div> -->

            </div><br>
            <p *ngIf="inputMissing" class="allInputReq">Please fill in all input fields above !</p>

            <button class="btn btn-primary" (click)="onSubmit();customerName='';customerEmail='';customerAddress=''" [disabled]="!myForm.form.valid || customerAddress==''">Submit</button>
            <!-- Extra -->
            <ul>
                <li *ngFor="let cs of customerList"> {{ cs.name }} {{ cs.email }} {{ cs.address }} {{ cs.status }}</li>
            </ul>
            <!-- Extra -->
        </form>
        <button class="btn btn-info" (click)="tableDisplay()">Show table</button>
        <hr>
    </div>
    <div class="col-md-8">
        <!-- <p *antiIf="showTable">Hello there</p> -->
        <app-customer-table *ngIf="showTable" [isSubmittedChild]="isSubmitted" [customerListChild]="customerList" [customerDetailArray]="customerList" [customerNameChild]="customerName" (customerName2)="getEditedName($event)" (customerEmail2)="getEditedEmail($event)"
            (customerAddress2)="getEditedAddress($event)">


        </app-customer-table>
    </div>
</div><br>


<app-task3></app-task3>